@charset="UTF-8";

.menu{
    background-color: darkmagenta;
    height: 100px;
    border: 1px solid blue;
    position: relative;
}
.menu ul li{  
    color: white;
    font-size: 18px;
    margin: 8px;
    padding: 5px;
    list-style: none;
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.menu img{
    
}