@charset="UTF-8";

body{
    font-family: arial,sans-serif;
    background-color: azure;
}

.tl-l{
    margin: 19px 0 ;
}
.div1{
    align-items: center;
    margin: auto;
    padding: 5px 15px 5px 15px ;
}
.div2{
    height: 250px;
    width: 175px;
    border: 1px solid black;
    margin: 0 30px 0 0;
    display: inline-block;
}